.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    cursor: pointer;
    width: 200px;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items > ul {
    display: flex;
    font-size: 25px;
    list-style-type: none;
}

.nav-items > ul > li {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

.search {
    padding: 10px;
}

.rest-container {
    display: flex;
    flex-wrap: wrap;
}

.rest-card{
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 450px;
}

.rest-card:hover {
    border-radius:10px;
    cursor: pointer;
    border: 1px solid black;
}

.rest-img{
    width: 100%;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 400px;
    background-color: #fff8dc;
}

.login-btn{
    padding: 10px 10px;
    cursor: pointer;
}

.filter{
    display: flex;
}